@import url(../../../stylesheets/application.css);


body, #content, #footer {background-color: #F7F5E9;}

#header {
	background: #6CA30A url(../images/logo.png) no-repeat 4px 50%;
	padding-left: 110px;
}

#top-menu {background: #9CC90E; color: #fff;}

#main-menu { left: 110px;}
#main-menu li a {font-size: 90%; padding: 4px 5px 4px 5px;}
#main-menu li a:hover {background:#9CC90E; }

div.flash.notice {background-color: #E3EBC6;}
.box {background: #E7EECE; border:0;}
#main {background: #E7EECE;}
table.list th {  background-color:#E7EECE;}

/* jbbarth additions */
/*tr.odd.priority-3, table.list tbody tr.odd.priority-3:hover, tr.even.priority-3, table.list tbody tr.even.priority-3:hover { color: #900; font-weight: bold; }
tr.odd.priority-3 td, tr.even.priority-3 td { border-color: #ffb4b4; }
tr.priority-3 a, tr.priority-3:hover a { color: #900; }
tr.odd.priority-3 { background: #ffc4c4; }
tr.even.priority-3 { background: #ffd4d4; }*/
tr.priority-3, table.list tbody tr.priority-3:hover { color: rgb(255,227,227); font-weight: bold; }
tr.priority-3 a, tr.priority-3:hover a { color: rgb(255,227,227); }
tr.priority-3 { background: rgb(204,0,0); }
tr.priority-3:hover td, tr.priority-3:hover a, tr.priority-3:hover a:hover { color: rgb(204,0,0); background: rgb(255,227,227); }

tr.priority-2, table.list tbody tr.priority-2:hover { color: rgb(179,109,0); font-weight: normal; }
tr.priority-2 a, tr.priority-2:hover a { color: rgb(179,109,0); }
tr.priority-2 { background: rgb(250,220,179); }
tr.priority-2:hover td, tr.priority-2:hover a, tr.priority-2:hover a:hover { color: rgb(250,220,179); background: rgb(179,109,0); }

tr.priority-1, table.list tbody tr.priority-1:hover { color: rgb(100,153,44); }
tr.priority-1 a, tr.priority-1:hover a { color: rgb(100,153,44); }
tr.priority-1 { background: rgb(249,255,239); }
tr.priority-1:hover td, tr.priority-1:hover a, tr.priority-1:hover a:hover { color: rgb(249,255,239); background: rgb(100,153,44); }

/* progress bars */
table.progress td.closed { background-color: #0d9f34; }
tr.issue td.done_ratio { width:80px; }
tr.issue:hover table.progress td.closed { background-color: #0d9f34; } /* fix needed because of our additions */

/* reduce sidebar */
#sidebar, * html #sidebar { width:14%; min-width:150px; }
#content, * html #content { width:83%; }

/* print styles */
@media print {
  #top-menu, #header, #main-menu, #sidebar, #footer, .contextual, .other-formats { display:none; }
  #content { width:98%; margin:0; padding:0; border:0; overflow: visible !important; }
  table td.checkbox { display:none; }
  table.issues thead tr th:first-child { display:none; }
  body, #wrapper, #wrapper2, #main, #content { background: none; background-color: none; }
  h2, p.pagination { display:none; }
  div.autoscroll { overflow:visible !important; }
  tr.group td:first-child span { display:none; }
}
