/* Adapted from Basecamp stylesheet by Peter Theill, Commanigy - http://commanigy.com */

/* COLOR THEMES: */
/* green version: top_menu=229e43, header=73c448, tab_inactive=229e43, tab_hover=20ad46 */
/* red version: top_menu=3B4B56, header=9B0827, tab_inactive=750A15, tab_hover=620010 */

@import url(../../../stylesheets/application.css);

body, #wrapper { color:#333; background-color:#e9e9e9; font-family:"Lucida Grande", verdana, arial, helvetica, sans-serif; }

a:hover { text-decoration:underline; }
a:hover, a:active { color:#2A5685; }
ul, ol { line-height:1.4em; margin-top:0.4em; margin-bottom:1em; } /*TODO: see if it breaks something */

#header, #top-menu { margin:0; }
#header { background:/*#79B51C*/#73c448 url(../images/logo.png) no-repeat 10px 50%;padding:8px 4px 0 108px; height:70px;background-size: 91px auto; }
#header h1 { margin:0; }
#header h1, #header h1 a { color:#fff; text-shadow:1px 1px 2px #bbb; }
#header #quick-search { margin:4px; }
#header h1 .breadcrumbs {  margin-top: -2px;  }
#top-menu { background-color:#229e43; font-size:10px; position:relative; padding:0; height:21px }
#top-menu ul { padding:0 8px; }
#top-menu li, #top-menu #loggedas { color:#fff; line-height:21px; }
#top-menu li a { color:#fff; font-weight:normal; padding:2px 4px; margin:0; }
#top-menu li a:hover { color:#fff; text-decoration:underline; }
#main { background-color:#e9e9e9; margin:8px 8px 0px 8px; }
#content, #main.nosidebar #content {
  -moz-box-shadow:3px 3px 4px #bbb; -webkit-box-shadow:3px 3px 4px #bbb; box-shadow:3px 3px 4px #bbb;
  background:#fff; border-right:1px solid #bbb; border-bottom:1px solid #bbb; overflow:auto;
}
#footer { background-color:#e9e9e9; border:0px; clear:left; color:#666; font-size:9px; margin:4px 0 20px 20px; padding-bottom:15px; text-align:left; }
#footer a:hover { background:#666 none repeat scroll 0 0; color:#fff !important;}
#footer a:link, #footer a:visited { color:#666; }

div.flash { margin:6px 0 16px; }

/* Utilities */
.left, table.list td.left { text-align:left; }

/* Boxes */
div.box ul { padding-left:2em; }

/* Headers */
h1, h2, h3, h4 { font-family:"Lucida Grande",arial,sans-serif; }
h1 { font-size:23px; font-weight:normal; margin:0pt 0pt 0pt 0.25em; padding:0pt 0pt 10px; text-align:left; }
h2, h3, h4, .wiki h1, .wiki h2, .wiki h3 { border-bottom:0px;}

h2, .wiki h1 { background-color:#edf3fe; margin:-6px -10px 10px; padding:10px 15px; font-size:14px; color:#000; }
.wiki h1 { font-family:"Trebuchet MS",Verdana,sans-serif; font-weight:bold; color:#000 !important; font-size:18px; text-shadow:1px 1px 2px #fff; }
.wiki h2 { background:none; font-size:16px; }
.breadcrumb { background-color:#edf3fe; padding:2px 6px; margin:-6px -10px !important; }
h3, h4 { font-weight:normal; }

/* Wiki / textile */
div.wiki { line-height:1.4em; }
div.wiki ul, div.wiki ol { margin-top:0.4em; margin-bottom:1em; }
div.wiki ul.toc { float:right; margin:0 0 6px 6px; padding:6px 8px; }
div.wiki ul.toc a { color:#666; }

/* Wiki pages specific */
.wiki-page h2, .preview h2 { margin:5px 0 10px; padding:4px 0; border-bottom:1px solid #ddd; }
.wiki-page h3, .preview h3 { font-size:14px; font-weight:bold; }
.wiki-page ul, .wiki-page ol { padding-left:30px; }
#wiki_add_attachment { margin:20px 0 0; padding:0; border-top:1px solid #ddd; }
#wiki_add_attachment p { margin:6px; }
/* taken from docrails (+images) */
.wiki p.code, .wiki p.warning, .wiki p.note, .wiki p.info, .wiki p.todo,
.wiki p.wiki-class-code, .wiki p.wiki-class-warning, .wiki p.wiki-class-note, .wiki p.wiki-class-info, .wiki p.wiki-class-todo{
  border: none; padding:1.25em 1.25em 1.25em 48px; margin-left:20px; margin-top: 0.25em;
  color:#333; text-align:left; display:block; font-size:12px; max-width:800px; /* added by me */
}
.wiki p.code, .wiki p.wiki-class-code { background: #eee url(../images/tab_grey.gif) no-repeat left top; }
.wiki p.warning, .wiki p.wiki-class-warning { background: #f9d9d8 url(../images/tab_red.gif) no-repeat left top; }
.wiki p.note, .wiki p.wiki-class-note { background: #fff9d8 url(../images/tab_note.gif) no-repeat left top; }
.wiki p.info, .wiki p.wiki-class-info { background: #d5e9f6 url(../images/tab_info.gif) no-repeat left top; }
.wiki p.todo, .wiki p.wiki-class-todo { background: #fff9d8 url(../images/tab_yellow.gif) no-repeat left top; }

.wiki p.info-full-page, .wiki p.wiki-class-info-full-page {
  border: none; background: #293133;
  color: white; text-align:left; display:inline-block; font-size:12px;
  padding: 1.25em; margin:1.25em -10px;
  box-shadow:
          inset 0px 11px 8px -10px #AAA,
          inset 0px -11px 8px -10px #AAA;
}

.wiki p.info-full-page img, .wiki p.wiki-class-info-full-page img {
  margin: 0 1.25em;
  float: left;
}

.wiki .badge, .wiki .wiki-class-badge,
.wiki .badge-red, .wiki .wiki-class-badge-red,
.wiki .badge-red-light, .wiki .wiki-class-badge-red-light,
.wiki .badge-blue, .wiki .wiki-class-badge-blue,
.wiki .badge-blue-light, .wiki .wiki-class-badge-blue-light,
.wiki .badge-yellow, .wiki .wiki-class-badge-yellow,
.wiki .badge-yellow-light, .wiki .wiki-class-badge-yellow-light,
.wiki .badge-purple, .wiki .wiki-class-badge-purple,
.wiki .badge-purple-light, .wiki .wiki-class-badge-purple-light,
.wiki .badge-green, .wiki .wiki-class-badge-green,
.wiki .badge-green-light, .wiki .wiki-class-badge-green-light,
.wiki .badge-grey, .wiki .wiki-class-badge-grey,
.wiki .badge-grey-light, .wiki .wiki-class-badge-grey-light,
.wiki .badge-dark, .wiki .wiki-class-badge-dark {
  display: inline-block;min-width: 10px;padding: 1px 4px 3px;font-size: 10px;line-height: 1;
  color: #fff;text-align: center;white-space: nowrap;background-color: #777;border-radius: 3px;}
.wiki .badge-red, .wiki .wiki-class-badge-red { color: rgb(255, 255, 255); background-color: rgb(130, 33, 17); }
.wiki .badge-red-light, .wiki .wiki-class-badge-red-light { color: rgb(130, 33, 17); background-color: rgb(246, 197, 190); }
.wiki .badge-blue, .wiki .wiki-class-badge-blue { color: rgb(255, 255, 255); background-color: rgb(28, 69, 135); }
.wiki .badge-blue-light, .wiki .wiki-class-badge-blue-light { color: rgb(28, 69, 135); background-color: rgb(201, 218, 248); }
.wiki .badge-yellow, .wiki .wiki-class-badge-yellow { color: rgb(255, 255, 255); background-color: rgb(164, 106, 33); }
.wiki .badge-yellow-light, .wiki .wiki-class-badge-yellow-light { color: rgb(164, 106, 33); background-color: rgb(255, 230, 199); }
.wiki .badge-purple, .wiki .wiki-class-badge-purple { color: rgb(255, 255, 255); background-color: rgb(65, 35, 109); }
.wiki .badge-purple-light, .wiki .wiki-class-badge-purple-light { color: rgb(65, 35, 109); background-color: rgb(228, 215, 245); }
.wiki .badge-green, .wiki .wiki-class-badge-green { color: rgb(255, 255, 255); background-color: rgb(7, 98, 57); }
.wiki .badge-green-light, .wiki .wiki-class-badge-green-light { color: rgb(7, 98, 57); background-color: rgb(185, 228, 208); }
.wiki .badge-grey, .wiki .wiki-class-badge-grey { color: rgb(255, 255, 255); background-color: rgb(153, 153, 153); }
.wiki .badge-grey-light, .wiki .wiki-class-badge-grey-light { color: rgb(153, 153, 153); background-color: rgb(239, 239, 239); }
.wiki .badge-dark, .wiki .wiki-class-badge-dark { color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); }


.wiki .actu-footer{
  background-color: #293133;
  color: #FFFFFF;
  margin: 3em -10px 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.wiki .actu-footer .item{
    padding: 20px;
    min-width: 160px;
}

.wiki .actu-footer h1{
  color: #FFFFFF !important;
  background-color: #293133;
  text-shadow: none;
}
.wiki .actu-footer h2{
  color: #FFFFFF !important;
  margin: 5px 0 10px;
  padding: 4px 0;
  border-bottom: 1px solid #ddd;
}

.wiki .actu-footer .octicon {
  margin-right: 4px;
}

.wiki .actu-footer a, .wiki .actu-footer a:link, .wiki .actu-footer a:visited {
  color: #d6cecc;
  text-decoration: none;
}

.wiki a.underline:link{
  text-decoration: underline;
}

.wiki .actu-footer a:hover {
  text-decoration: underline;
}

.wiki .actu-footer pre {
  background-color: #d6cecc;
  color: #293133;
  border: none;
}

.wiki .actu-footer pre a {
    color: #293133;
}

@media (max-width: 712px) {
    .actu-footer{
        justify-content: left;
    }
    .actu-footer .item{
        width: 100%;
    }
}

.wiki .hexagon {
  width: 120px;
  height: 66px;
  background: #293133;
  position: relative;
  color: #ffffff;
  margin: 0 auto;
  text-align: left;
  font-size: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wiki .hexagon .main {
  font-size: 130px;
  letter-spacing: -0.15em;
  margin-left: -0.15em;
}
.wiki .hexagon .second {

}
.wiki .hexagon-before {
  width: 0;
  height: 0;
  margin: 10px auto 0 auto;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 30px solid #293133;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wiki .hexagon-after {
  width: 0;
  height: 0;
  margin: 0 auto 10px auto;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 30px solid #293133;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wiki .actu-header {
  clear: both;
  display: flex;
  justify-content: flex-start;
}
.wiki .actu-header .logo {
    order: 1;
}
.wiki .actu-header .subtitle {
  color: #293133;
  text-align: left;
  margin: auto 0;
  padding-left: 16px;
  font-size: 16px;
  order: 2;
}
.wiki .actu-header .dynamic-subtitle {
  color: #808080;
}

/* Code / Preformatted */
p > code, li > code { color:#222; background-color:#fafafa; padding:1px 2px; border:1px solid #e2e2e2; }

/* Repo */
.revision-graph { margin-top:4px; }

/* Sidebar */
#sidebar h3 { display: block; background-color: #edf3fe; border-bottom: 1px solid #ccc; color: #444;
              font-size: 13px; margin: 10px -8px 5px -8px; padding:4px 8px; font-weight: bold; text-shadow:1px 1px 2px #fff; }
#sidebar #watchers { margin-top:10px; }
#sidebar h3:first-child, #sidebar div:first-child+h3 { margin-top:0; }
#sidebar h4 { margin:4px 0 2px 0; font-size:12px; font-weight:bold; color:#555; text-shadow:1px 1px 2px #fff; }
#sidebar p { margin:3px 2px; }
#sidebar .subsection { padding-left:10px; }
#admin-menu a {display:inline-block;line-height:1.4em;padding-top: 2px;padding-bottom: 3px;}
#admin-menu a.selected { background-color:#5a6695; background-position:6px center; display:inline-block; padding:2px 7px 2px 26px !important; margin-left:-8px; margin-right:20px; color:#fff; border-radius:4px; box-shadow: inset 0 0 1px #bbbbf5; line-height:19px; }
#sidebar a.selected { background-color:#5a6695; padding:1px 6px 2px 5px; margin-left:-5px; color:#fff; border-radius:4px; box-shadow: inset 0 0 1px #bbbbf5; }

/* Modals */
div.modal { border:2px solid #73c448; padding:0; }
div.modal h3.title { background-color:#73c448; padding:4px 10px; border-top-left-radius:1px; border-top-right-radius:1px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 0; -webkit-border-bottom-right-radius: 0; -khtml-border-bottom-right-radius: 0; border-bottom-right-radius: 0; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; -khtml-border-bottom-left-radius: 0; border-bottom-left-radius: 0; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; -khtml-border-top-right-radius: 0; border-top-right-radius: 0; }
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; -khtml-border-top-left-radius: 0; border-top-left-radius: 0; }
.ui-widget-header, div.ui-widget-header { border: 1px solid #73c448; background: #73c448; color: white; }

/* Menu */
#main-menu { left:108px; padding:0; margin:0; }
#main-menu li a { color:#fff; background-color:#229e43; font-weight:normal; margin:0 1px; padding-bottom:8px; }
#main-menu li a.settings {background-color:transparent;}
#main-menu li a:hover { color:#fff; background:#20ad46; text-decoration:none; }
#main-menu li a.selected, #main-menu li a.selected:hover {
  /* following lines taken from basecamphq directly. Thanks 37signals!! */
  background:#e9e9e9;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#e9e9e9'); /* IE */
  background:-webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#e9e9e9)); /* webkit */
  background:-moz-linear-gradient(top,  #fdfdfd,  #e9e9e9); /* firefox 3.6+ */
  color:#222222; font-weight:bold; margin:0 1px; padding-bottom:8px; text-decoration:none;
}
#main-menu .menu-children {
  border-right: 1px solid #229e43;
  border-bottom: 1px solid #229e43;
  border-left: 1px solid #229e43;
}
#main-menu li a.new-object { background-color: #229e43;}
#main-menu .menu-children li a:hover {color: #fff; background-color: #229e43;}

/* Quick-search box */
#quick-search { color:#73c448; }
#quick-search label { display:none; }
#quick-search input#q { border:1px solid #aaa; padding:3px 20px 3px 3px; border-radius:3px; box-sizing:border-box;
                        background:#fff url(../images/search.png) no-repeat right center; }

/* Tabs / Settings */
#content .tabs ul { border-bottom:2px solid #e9e9e9; }
#content .tabs ul li { margin-right:2px; }
#content .tabs ul li a { border:0; border-bottom:1px solid #e9e9e9; font-weight:normal; background-color:#f5f5f5; }
#content .tabs ul li a:hover { color:#222; background-color:#e9e9e9; }
#content .tabs ul li a.selected, #content .tabs ul li a.selected:hover { color:#222; border:0; background:#e9e9e9; font-weight:bold; }
fieldset legend { font-weight:bold; }
.permissions_tab fieldset + fieldset { margin-top:10px; }
.permissions_tab fieldset legend { font-size:110%; }
#content .jstTabs.tabs {margin-bottom: 3px !important;}
#content .jstTabs.tabs li {height: auto !important;}

/* Tables */
table.list { border:none; }
table.list td, table.list th { padding:6px 5px; }
table.list th { vertical-align:top; background-color:#E8E8E8; border-bottom:1px solid #e9e9eb; font-weight:normal; }
table.list tbody tr:hover { background-color:#edf3fe; }
.odd, .odd+.even-odd-linked { background-color:#fff; }
.even, .even+.even-odd-linked { background-color:#f6f7f8; }
table.list th .filter { margin:3px 0 2px; padding:1px 3px; width:100%; max-width:240px; box-sizing:border-box; border-radius:2px; border:1px solid #ccc; height:19px; color:#555; }
table.list th .filter:focus { outline:none; }

/* Forms */
.tabular label { line-height:2em; }

form#issue-form input[type='submit'] {
  cursor: pointer;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background-color: #229e43;
  color: #f9ffef;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin: 0 .25em 0 0;
  padding: .78571429em 1.5em .78571429em;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: .28571429rem;
  -webkit-box-shadow: 0 0 0 1px transparent inset,0 0 0 0 rgba(34,36,38,.15) inset;
  box-shadow: 0 0 0 1px
  transparent inset,0 0 0 0
  rgba(34,36,38,.15) inset;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
  transition: opacity .1s ease,background-color .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
  transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
  transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
  -webkit-tap-highlight-color: transparent;
  font-size: 13px;
}
form#issue-form input[type='submit']:hover, form#issue-form input[type='submit']:focus {
  background-color: #20ad46;
  color:#fff;
  text-shadow:none
}

form#issue-form {
  display: block;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

/* Issues */
div.issue div.subject h3 { color:#000; font-weight:bold; margin:4px 6px; }
div.issue p.author { font-style:italic; margin:3px 0 12px 4px; }
div.issue.details hr+div > .contextual { margin-top:0; }
div.journal div.wiki, div.issue div.wiki { color:#222; }
div.journal div.wiki { margin-left: 6px; }
div.journal { margin:5px 0 3px; padding:6px; }
div.journal.has-notes { background:#ffffdd; border:1px solid #d7d7d7; }
div.journal:not(.has-notes) + div.journal:not(.has-notes) { border-top:1px solid #e9e9e9; margin-top:0; padding-top:10px; }
div.journal h4 { color:#444; font-size:12px; margin-top:0; margin-left:6px; margin-bottom:4px; padding-right:3px; }
div.journal h4 .journal-link { color:#777; }
div.journal h4 div { font-style:normal; }
div.issue table.attributes>tbody>tr>th { min-width:70px; color:#666; }
div.issue table.attributes>tbody>tr>td { min-width:200px; }
div.issue img.gravatar { padding:2px; width:36px; height:36px; margin-top:4px; }
h4 img.gravatar, div.issue table img.gravatar { padding:1px; }
div.issue table img.gravatar { margin-top:-1px; }
h4 img.gravatar { margin: 0px 4px 0 0; }
div.journal .details { margin:0 8px 10px; padding-left:25px; list-style-type:square; color:#777; }
div.journal .details strong { font-weight:normal; }
div.journal .details:hover { color:#222; }
div.journal p { margin:12px 0; }
div.journal p + ul { margin:12px 0 4px; }
div.journal div.contextual { margin-top:0; }
table.issues td.assigned_to { white-space:nowrap; }
table.issues td.checkbox input { margin:3px 3px 4px 4px; }
table.issues tr > td { padding:3px 2px 1px; }
table.issues tr > td > table { margin-bottom:1px; }
tr.issue td.project { max-width:200px; white-space:normal; }
tr.issue td.subject { min-width:300px !important; }
#attachments_fields input.description { display:none; }
#history {padding: 0;margin-bottom: 0;border: none;}

/* Wiki */
.jstElements { margin:0 0 2px 0; }

/* Projects */
ul.projects div.description { color:#666; font-size:80%; font-style:italic; margin-left:18px; }

/* Repository */
table.changesets { margin-bottom:8px; }
tr.changeset td.id { padding:6px 8px 6px 23px; }
tr.changeset td.checkbox:nth-child(even) { padding-left:8px; }
tr.changeset td.checkbox:nth-child(odd) { padding-right:8px; }
tr.changeset td.committed_on, tr.changeset td.author { width:auto; padding:6px 8px; }

/* context menu selection */
/*tr.context-menu-selection:hover > td, tr.context-menu-selection:hover td.todo, tr.context-menu-selection:hover a, tr.context-menu-selection:hover a:hover { background-color:#507aaa; color:#f8f8f8; }*/

/* priorities */
tr.priority-4, table.list tbody tr.priority-3:hover { color:#c00; }
tr.priority-4 a, tr.priority-3:hover a { color:#c00; }
tr.priority-4, table.list:not(.odd-even) tbody tr:nth-child(odd).priority-4,
table.list:not(.odd-even) tbody tr:nth-child(even).priority-4 { background:#ffe3e3; }
tr.priority-4:hover td, tr.priority-4:hover a, tr.priority-4:hover a:hover, tr.priority-4:hover span.status, tr.priority-4:hover p.extra-fields, td.priority-4 { color:#ffe3e3; background:#c00; }

tr.priority-3, table.list tbody tr.priority-3:hover { color:#b36d00; font-weight:normal; }
tr.priority-3 a, tr.priority-2:hover a { color:#b36d00; }
tr.priority-3, table.list:not(.odd-even) tbody tr:nth-child(odd).priority-3,
table.list:not(.odd-even) tbody tr:nth-child(even).priority-3 { background:#fadcb3; }
tr.priority-3:hover td, tr.priority-3:hover a, tr.priority-3:hover a:hover, tr.priority-3:hover span.status, tr.priority-3:hover p.extra-fields, td.priority-3 { color:#fadcb3; background:#b36d00; }

tr.priority-2, table.list tbody tr.priority-2:hover { color:#229e43; }
tr.priority-2 a, tr.priority-2:hover a { color:#229e43; }
tr.priority-2, table.list:not(.odd-even) tbody tr:nth-child(odd).priority-2,
table.list:not(.odd-even) tbody tr:nth-child(even).priority-2 { background:#f9ffef; }
tr.priority-2:hover td, tr.priority-2:hover a, tr.priority-2:hover a:hover, tr.priority-2:hover span.status, tr.priority-2:hover p.extra-fields, td.priority-2 { color:#f9ffef; background:#229e43; }

tr.priority-1, table.list tbody tr.priority-1:hover { color:#888; }
tr.priority-1 a, tr.priority-1:hover a { color:#888; }
tr.priority-1, table.list:not(.odd-even) tbody tr:nth-child(odd).priority-1,
table.list:not(.odd-even) tbody tr:nth-child(even).priority-1 { background:#eee; }
tr.priority-1:hover td, tr.priority-1:hover a, tr.priority-1:hover a:hover, tr.priority-1:hover span.status, tr.priority-1:hover p.extra-fields, td.priority-1 { color:#eee; background:#bbb; }

/* progress bars */
table.progress td { height:10px; }
table.progress td.closed { background-color:#73c448; }
tr.issue td.done_ratio { width:80px; }
tr.issue:hover table.progress td.closed { background-color:#73c448; } /* fix needed because of our additions */

/* reduce sidebar */
#sidebar, * html #sidebar { -moz-box-sizing:border-box; box-sizing:border-box; width:15%; padding-left:20px; }
#content, * html #content { -moz-box-sizing:border-box; box-sizing:border-box; width:85%; }

/* print styles */
@media print {
  #top-menu, #header, #main-menu, #sidebar, #footer, .contextual, .other-formats { display:none; }
  #content { width:98%; margin:0; padding:0; border:0; overflow:visible !important; }
  table td.checkbox { display:none; }
  table.issues thead tr th:first-child { display:none; }
  body, #wrapper, #wrapper2, #main, #content { background:none; background-color:none; }
  p.pagination { display:none; }
  div.autoscroll { overflow:visible !important; }
  tr.group td:first-child span { display:none; }
}

#header #quick-search .select2-container {
  width: 300px;
  min-width: 220px;
}

/* jQuery UI */
.theme-Ministere .ui-widget-content {
  color: #333;
}
.theme-Ministere .ui-widget {
  font-family: Verdana,sans-serif;
  font-size: 1.1em;
}
.theme-Ministere .ui-widget input, .theme-Ministere .ui-widget select, .theme-Ministere .ui-widget textarea, .theme-Ministere .ui-widget button {
  font-family: Verdana,sans-serif;
  font-size: 1em;
}
.theme-Ministere .ui-widget-content a {
  color: #169;
}

/* Responsive CSS */
@media all and (max-width: 899px)
{
  .theme-Ministere #header{
    background-color: #73c448; /* Force header background color */
    position: relative;
  }

  .theme-Ministere #main {
    margin:auto;
    padding: 0;
  }

  /* styles for combobox within quick-search (#project_quick_jump_box) */
  .theme-Ministere #header #quick-search .select2 {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;

    position: absolute;
    top: 15px;
    left: 0;

    float: left;

    width: 100%;
    max-width: 100%;
    height: 2em;
    height: 35px;
    padding: 5px;
    padding-right: 72px;
    padding-left: 110px;

    text-indent: .01px;

    color: inherit;
    border: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    /* hide default browser arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .theme-Ministere #header #quick-search .select2-container--default .select2-selection--single .select2-selection__arrow {
    right: 72px;
    top: 6px;
  }

  #header { background-image: none;}
}
